@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_mixins';
@import 'Styles/partials/_functions';

$font-primary: 'Zona Pro', sans-serif;

$font-size-base: 16px;
$font-family-base: $font-primary;
